body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

h1 {
    background-color: white;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: auto
}

.cards:hover {
    background-color: #333;
}

.cards {
    border: 2px solid black;
    width: fit-content;
    margin: 2em;
    padding: 1em 1em 1em 1em;
    border-radius: 15%;
    transition: 1s;
    gap: 1em;
    align-items: center; 
}

#cards-container {
    
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#cards-container2 {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
    
}